@media only screen and (max-width: 768px) {
    .container-fluid, .container {
        padding: 0 !important;
    }
    .main-index-container {
        padding: 0px !important;
    }
    .login-container {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0;
    }
    .navtop {
        justify-content: flex-end;
    }
    .navbar-toggler-icon {
        filter: invert(1);
    }
    .navbar-collapse.collapse {
        background-image: linear-gradient(to right, #84848480 1px, transparent 1px), linear-gradient(to bottom, #84848480 1px, white 1px);
        background-size: 20px 20px;
        margin-top: 3em;
        border-radius: 0 0 1em 1em;
    }
    .login-box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo-login-left, .logo-login-right {
        top: 0;
    }
    .login-form {
        padding-left: 15%;
        padding-right: 15%;
    }
    .demo-data {
        padding: 0 5px;
    }
    .welcome-admin {
        margin-top: 6em;
    }
    .text-welcome-admin {
        font-size: 35px;
        text-align: center;
    }
}